[submodule "nvim/pack/minpac/opt/minpac"]
	path = nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "dwm"]
	path = dwm
	url = git@reyuki.github.com:RealYukiSan/dwm.git
